---
import Section from "./SectionGeneral.astro"
---

<Section
  title="Bebidas"
  color="white"
  id="Bebidas"
>
<div slot="footer">
  <a
    class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
    href="/RecetasBebidas"
  >
    Recetas</a
  >
</div>


  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/Bebidas.webm"></video>
</Section>

</script>