---
// Footer.astro
---
<footer class="bg-black p-6 text-white text-center">
    <p class="mb-2">Información de Contacto: 123@gmail.com</p>
    <a href="#comments" class="inline-block bg-white text-teal-600 py-2 px-4 rounded hover:bg-gray-200 transition">Ir a Comentarios</a>
</footer>
