---
import BlogHeader from './BlogHeader.astro';
---

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <BlogHeader
      tag="Recetario"
      title="mejor experiencia que puedes darle a tu paladar."
      description="Aqui compartimos contigo las que concideramos recetas imperdibles para todo tipo de ocasion."
    />
</div>