---
// Header PAGINA PARA CREAR RECETAS NUEVAS
---

<header class="bg-black p-6 text-white text-center">
    <h1 class="text-4xl font-bold">Mis Recetas Favoritas</h1>
    <p class="mt-2 text-lg">Comparte y descubre deliciosas recetas.</p>
</header>
