---
import Section from "./SectionHome.astro"
---

<Section
  title="Bienvenidos al mejor recetario"
  subtitle="Nuevas recetas semanalmente"
  color="white"
  id="home"
>
  <div slot="footer">
   </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/video.webm"></video>
</Section>
